<form class="create-feed">
  <label>Title: <input type="text" name="feed[title]"></label>

  <label>URL: <input type="text" name="feed[url]"></label>

  <input type="submit" value="Create Feed">
  
</form>
